// Import Bulma's core
@import '~bulma/sass/utilities/_all';

$primary-050: #ffe3ec;
$primary-100: #ffb8d2;
$primary-200: #ff8cba;
$primary-300: #f364a2;
$primary-400: #e8368f;
$primary-500: #da127d;
$primary-600: #bc0a6f;
$primary-700: #a30664;
$primary-800: #870557;
$primary-900: #620042;

$primary-050-invert: findColorInvert($primary-050);
$primary-100-invert: findColorInvert($primary-100);
$primary-200-invert: findColorInvert($primary-200);
$primary-300-invert: findColorInvert($primary-300);
$primary-400-invert: findColorInvert($primary-400);
$primary-500-invert: findColorInvert($primary-500);
$primary-600-invert: findColorInvert($primary-600);
$primary-700-invert: findColorInvert($primary-700);
$primary-800-invert: findColorInvert($primary-800);
$primary-900-invert: findColorInvert($primary-900);

$neutral-050: #f5f7fa;
$neutral-100: #e4e7eb;
$neutral-200: #cbd2d9;
$neutral-300: #9aa5b1;
$neutral-400: #7b8794;
$neutral-500: #616e7c;
$neutral-600: #52606d;
$neutral-700: #3e4c59;
$neutral-800: #323f4b;
$neutral-900: #1f2933;

$neutral-050-invert: findColorInvert($neutral-050);
$neutral-100-invert: findColorInvert($neutral-100);
$neutral-200-invert: findColorInvert($neutral-200);
$neutral-300-invert: findColorInvert($neutral-300);
$neutral-400-invert: findColorInvert($neutral-400);
$neutral-500-invert: findColorInvert($neutral-500);
$neutral-600-invert: findColorInvert($neutral-600);
$neutral-700-invert: findColorInvert($neutral-700);
$neutral-800-invert: findColorInvert($neutral-800);
$neutral-900-invert: findColorInvert($neutral-900);

$accent-050: #f2ebfe;
$accent-100: #dac4ff;
$accent-200: #b990ff;
$accent-300: #a368fc;
$accent-400: #9446ed;
$accent-500: #8719e0;
$accent-600: #7a0ecc;
$accent-700: #690cb0;
$accent-800: #580a94;
$accent-900: #44056e;

$accent-050-invert: findColorInvert($accent-050);
$accent-100-invert: findColorInvert($accent-100);
$accent-200-invert: findColorInvert($accent-200);
$accent-300-invert: findColorInvert($accent-300);
$accent-400-invert: findColorInvert($accent-400);
$accent-500-invert: findColorInvert($accent-500);
$accent-600-invert: findColorInvert($accent-600);
$accent-700-invert: findColorInvert($accent-700);
$accent-800-invert: findColorInvert($accent-800);
$accent-900-invert: findColorInvert($accent-900);

$success-050: #e1fcf8;
$success-100: #c1fef6;
$success-200: #92fdf2;
$success-300: #62f4eb;
$success-400: #3ae7e1;
$success-500: #1cd4d4;
$success-600: #0fb5ba;
$success-700: #099aa4;
$success-800: #07818f;
$success-900: #05606e;

$success-050-invert: findColorInvert($success-050);
$success-100-invert: findColorInvert($success-100);
$success-200-invert: findColorInvert($success-200);
$success-300-invert: findColorInvert($success-300);
$success-400-invert: findColorInvert($success-400);
$success-500-invert: findColorInvert($success-500);
$success-600-invert: findColorInvert($success-600);
$success-700-invert: findColorInvert($success-700);
$success-800-invert: findColorInvert($success-800);
$success-900-invert: findColorInvert($success-900);

$danger-050: #ffe3e3;
$danger-100: #ffbdbd;
$danger-200: #ff9b9b;
$danger-300: #f86a6a;
$danger-400: #ef4e4e;
$danger-500: #e12d39;
$danger-600: #cf1124;
$danger-700: #ab091e;
$danger-800: #8a041a;
$danger-900: #610316;

$danger-050-invert: findColorInvert($danger-050);
$danger-100-invert: findColorInvert($danger-100);
$danger-200-invert: findColorInvert($danger-200);
$danger-300-invert: findColorInvert($danger-300);
$danger-400-invert: findColorInvert($danger-400);
$danger-500-invert: findColorInvert($danger-500);
$danger-600-invert: findColorInvert($danger-600);
$danger-700-invert: findColorInvert($danger-700);
$danger-800-invert: findColorInvert($danger-800);
$danger-900-invert: findColorInvert($danger-900);

$warning-050: #fffbea;
$warning-100: #fff3c4;
$warning-200: #fce588;
$warning-300: #fadb5f;
$warning-400: #f7c948;
$warning-500: #f0b429;
$warning-600: #de911d;
$warning-700: #cb6e17;
$warning-800: #b44d12;
$warning-900: #8d2b0b;

$warning-050-invert: findColorInvert($warning-050);
$warning-100-invert: findColorInvert($warning-100);
$warning-200-invert: findColorInvert($warning-200);
$warning-300-invert: findColorInvert($warning-300);
$warning-400-invert: findColorInvert($warning-400);
$warning-500-invert: findColorInvert($warning-500);
$warning-600-invert: findColorInvert($warning-600);
$warning-700-invert: findColorInvert($warning-700);
$warning-800-invert: findColorInvert($warning-800);
$warning-900-invert: findColorInvert($warning-900);

$black: $neutral-900;
$black-bis: $neutral-800;
$black-ter: $neutral-700;
$grey-darker: $neutral-600;
$grey-dark: $neutral-500;
$grey: $neutral-400;
$grey-light: $neutral-300;
$grey-lighter: $neutral-200;
$white-ter: $neutral-100;
$white-bis: $neutral-050;

$primary: $primary-400;
$link: $primary-400;
$info: $primary-100;
$success: $success-400;
$warning: $warning-400;
$danger: $danger-400;

$primary-invert: $primary-400-invert;
$link-invert: $primary-400-invert;
$info-invert: $accent-400-invert;
$success-invert: $success-400-invert;
$warning-invert: $warning-400-invert;
$danger-invert: $danger-400-invert;

$link-visited: $primary-300-invert;
$link-focus-border: $primary-400-invert;

$text: $neutral-600;
$button-text-hover-background-color: $neutral-100;
$body-background-color: $neutral-050;
$background: $white-ter;

$colors: (
  'white': (
    $white,
    $black,
  ),
  'black': (
    $black,
    $white,
  ),
  'light': (
    $light,
    $light-invert,
  ),
  'dark': (
    $dark,
    $dark-invert,
  ),
  'primary': (
    $primary,
    $primary-invert,
  ),
  'link': (
    $link,
    $link-invert,
  ),
  'info': (
    $info,
    $info-invert,
  ),
  'success': (
    $success,
    $success-invert,
  ),
  'warning': (
    $warning,
    $warning-invert,
  ),
  'danger': (
    $danger,
    $danger-invert,
  ),
  'primary-050': (
    $primary-050,
    $primary-050-invert,
  ),
  'primary-100': (
    $primary-100,
    $primary-100-invert,
  ),
  'primary-200': (
    $primary-200,
    $primary-200-invert,
  ),
  'primary-300': (
    $primary-300,
    $primary-300-invert,
  ),
  'primary-400': (
    $primary-400,
    $primary-400-invert,
  ),
  'primary-500': (
    $primary-500,
    $primary-500-invert,
  ),
  'primary-600': (
    $primary-600,
    $primary-600-invert,
  ),
  'primary-700': (
    $primary-700,
    $primary-700-invert,
  ),
  'primary-800': (
    $primary-800,
    $primary-800-invert,
  ),
  'primary-900': (
    $primary-900,
    $primary-900-invert,
  ),
  'neutral-050': (
    $neutral-050,
    $neutral-050-invert,
  ),
  'neutral-100': (
    $neutral-100,
    $neutral-100-invert,
  ),
  'neutral-200': (
    $neutral-200,
    $neutral-200-invert,
  ),
  'neutral-300': (
    $neutral-300,
    $neutral-300-invert,
  ),
  'neutral-400': (
    $neutral-400,
    $neutral-400-invert,
  ),
  'neutral-500': (
    $neutral-500,
    $neutral-500-invert,
  ),
  'neutral-600': (
    $neutral-600,
    $neutral-600-invert,
  ),
  'neutral-700': (
    $neutral-700,
    $neutral-700-invert,
  ),
  'neutral-800': (
    $neutral-800,
    $neutral-800-invert,
  ),
  'neutral-900': (
    $neutral-900,
    $neutral-900-invert,
  ),
  'accent-050': (
    $accent-050,
    $accent-050-invert,
  ),
  'accent-100': (
    $accent-100,
    $accent-100-invert,
  ),
  'accent-200': (
    $accent-200,
    $accent-200-invert,
  ),
  'accent-300': (
    $accent-300,
    $accent-300-invert,
  ),
  'accent-400': (
    $accent-400,
    $accent-400-invert,
  ),
  'accent-500': (
    $accent-500,
    $accent-500-invert,
  ),
  'accent-600': (
    $accent-600,
    $accent-600-invert,
  ),
  'accent-700': (
    $accent-700,
    $accent-700-invert,
  ),
  'accent-800': (
    $accent-800,
    $accent-800-invert,
  ),
  'accent-900': (
    $accent-900,
    $accent-900-invert,
  ),
  'success-050': (
    $success-050,
    $success-050-invert,
  ),
  'success-100': (
    $success-100,
    $success-100-invert,
  ),
  'success-200': (
    $success-200,
    $success-200-invert,
  ),
  'success-300': (
    $success-300,
    $success-300-invert,
  ),
  'success-400': (
    $success-400,
    $success-400-invert,
  ),
  'success-500': (
    $success-500,
    $success-500-invert,
  ),
  'success-600': (
    $success-600,
    $success-600-invert,
  ),
  'success-700': (
    $success-700,
    $success-700-invert,
  ),
  'success-800': (
    $success-800,
    $success-800-invert,
  ),
  'success-900': (
    $success-900,
    $success-900-invert,
  ),
  'danger-050': (
    $danger-050,
    $danger-050-invert,
  ),
  'danger-100': (
    $danger-100,
    $danger-100-invert,
  ),
  'danger-200': (
    $danger-200,
    $danger-200-invert,
  ),
  'danger-300': (
    $danger-300,
    $danger-300-invert,
  ),
  'danger-400': (
    $danger-400,
    $danger-400-invert,
  ),
  'danger-500': (
    $danger-500,
    $danger-500-invert,
  ),
  'danger-600': (
    $danger-600,
    $danger-600-invert,
  ),
  'danger-700': (
    $danger-700,
    $danger-700-invert,
  ),
  'danger-800': (
    $danger-800,
    $danger-800-invert,
  ),
  'danger-900': (
    $danger-900,
    $danger-900-invert,
  ),
  'warning-050': (
    $warning-050,
    $warning-050-invert,
  ),
  'warning-100': (
    $warning-100,
    $warning-100-invert,
  ),
  'warning-200': (
    $warning-200,
    $warning-200-invert,
  ),
  'warning-300': (
    $warning-300,
    $warning-300-invert,
  ),
  'warning-400': (
    $warning-400,
    $warning-400-invert,
  ),
  'warning-500': (
    $warning-500,
    $warning-500-invert,
  ),
  'warning-600': (
    $warning-600,
    $warning-600-invert,
  ),
  'warning-700': (
    $warning-700,
    $warning-700-invert,
  ),
  'warning-800': (
    $warning-800,
    $warning-800-invert,
  ),
  'warning-900': (
    $warning-900,
    $warning-900-invert,
  ),
);
