/node_modules
/*.log
/dist
/dist-zip

.DS_Store
node_modules
/dist

# env files
.env
.env.*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

still-protocol-228301-firebase-adminsdk-i9ol4-8b98dccfe2.json
q-torial-firebase-adminsdk-ejl4w-29ec1987ad.json
